{
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3.21.0",
        "useBuiltIns": "usage",
        "modules": false
      }
    ]
  ]
}