*{
    margin:0;
    padding: 0;
}

#app {
    max-width: 1080px;
    margin: auto;
}

#header-container{
    height:250px;
    background-color: #007EB0;
    display: flex;
}

#header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-container>img{
    height:200px;
    position: relative;
    top:20px;
    filter: invert(1);
}

#header-title, #header-quote{
    font-size: 40pt;
    color: aliceblue;
}

#header-quote{
    font-size:20pt;
    margin-left: 100px;
}

#nav{
    position: sticky;
    height: 50px;
    background-color: #007EB0;
    color: aliceblue;
    
    display: flex;
    justify-content:flex-start;
}

ul#nav>li{
    margin-left: 30px;
    margin-top:10px;
    list-style-type: none;
}


#main-container{

    display: grid;
    grid-template-columns: (3fr 1fr);
    grid-template-areas: 
    "left left left right";
}

#main-left{
    grid-area: left;
    display: flex;
    flex-direction: column;
}

#current-market, .news-item{
    border:1px solid #B05D00;
    border-radius: 5px;
    margin: 15px 0px;
    height: 200px;
}

#news{
    display: flex;
    justify-content:space-between;
}

#main-right{
    grid-area: right;
    display: flex;
    flex-direction: column;
}

#live-data, #subscribe{
    margin:15px;
    height:100px;
    border-radius: 5px;
}

#live-data{
    height:400px;
}

#subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#email{
    height:30px;
    margin-left: 20px;
}

#button{
    border: none;
    width:100px;
    height:30px;
    font-size: 12pt;
    background-color: #FC8500;
    color: aliceblue;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

#footer-container{
    display: flex;
    height: 100px;
    background-color:#007EB0;
    justify-content: space-around;
    align-items:center;
}

#footer-left{
    display: flex;
}

#footer-left>img{
    height:50px;
    margin-left: 10px;
    opacity: 0.7;
    cursor: pointer;
}

#footer-right{
    color:aliceblue;
    display: flex;
    cursor:pointer;

}

.footer-links {
    margin-right: 20px;
}

