*{
    margin:0;
    padding: 0;
}

#app {
    max-width: 1080px;
    margin: auto;
}

#header-container{
    height:250px;
    background-color: #007EB0;
    display: flex;
}

#header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-container>img{
    height:200px;
    position: relative;
    top:20px;
    filter: invert(1);
}

#header-title, #header-quote{
    font-size: 40pt;
    color: aliceblue;
}

#header-quote{
    font-size:20pt;
    margin-left: 100px;
}

#nav{
    position: sticky;
    height: 50px;
    background-color: #007EB0;
    color: aliceblue;
    
    display: flex;
    justify-content:flex-start;
}

.nav-item{
    margin-left: 30px;
    margin-top:10px;
}


#main-container{
    height: 1000px;
}

#footer-container{
    display: flex;
    height: 100px;
    background-color:#007EB0;
    justify-content: space-around;
    align-items:center;
}

#footer-left{
    display: flex;
}

#footer-left>img{
    height:50px;
    margin-left: 10px;
    opacity: 0.7;
    cursor: pointer;
}

#footer-right{
    color:aliceblue;
    display: flex;
    cursor:pointer;

}

.footer-links {
    margin-right: 20px;
}

