<div id="about-container">
    <p>
        This is an assignment for course W01 of Web and Desktop development @ Heritage College.
    </p>
    <p>
        It's a SPA made with webpack, handlebars, javascript, HTML and CSS.
    </p>
    <p>
        APIs used in this assignment:
    <ul>
        <li>Rapidapi @ <a href="https://rapidapi.com/" target="_blank">https://rapidapi.com/</a></li>
        <li>AletheiaAPI @ <a href="https://aletheiaapi.com/" target="blank">https://aletheiaapi.com/</a></li>
    </ul>
    </p>

</div>