<div id="about-container">
    <p>
        This is an assignment for course W01 of Web and Desktop development @ Heritage College.
    </p>
    <p>
        It's a SPA made with webpack, handlebars, javascript, HTML and CSS.
    </p>
    <p>
        APIs used in this assignment:
    <ul>
        <li>Seeking Alpha via Rapidapi @ <a href="https://rapidapi.com/" target="_blank">https://rapidapi.com/</a></li>
        <li>AletheiaAPI @ <a href="https://aletheiaapi.com/" target="blank">https://aletheiaapi.com/</a></li>
    </ul>
    </p>
    <p>
        Features on the website:
    <ul>
        <li>Five stocks on the watchlist by default. </li>
        <li>Data loads once for first time visitor. The watchlist, price info together with a timestamp are
            stored in localstorage</li>
        <li>Return user (same day) will get watchlist, price info and data from localstorage.</li>
        <li>Regardless of user status, the day will reload each day on the first visit.</li>
        <li>User can amend the watchlist (add or delete), the localstorge is updated to reflect the changes.</li>
        <li>User can delete stock by selecting the symbol first.</li>
        <li>Watch list symbols are unique.</li>
        <li>Green and Red color reflect the positive and negative % change in price.</li>
        <li>Select a stock, the news will be related to the company/symbol.</li>
        <li>Without stock selection, there are random financial news.</li>
        <li>A compound interest calculator, it assumes the monthly contribution is made at the end of each month.</li>
    </ul>
    </p>
    <p>
        Feature(s) still have issue：
    <ul>
        <li>
            The number of news items is adjusted according to the page height.
        </li>
    </ul>
    </p>
</div>