<div id="about-container">
    <p>
        This is an assignment for course W01 of Web and Desktop development @ Heritage College.
    </p>
    <p>
        It's a SPA made with webpack, handlebars, javascript, HTML and CSS.
    </p>
    <p>
        APIs used in this assignment:
    <ul>
        <li>Seeking Alpha via Rapidapi @ <a href="https://rapidapi.com/" target="_blank">https://rapidapi.com/</a></li>
        <li>AletheiaAPI @ <a href="https://aletheiaapi.com/" target="blank">https://aletheiaapi.com/</a></li>
    </ul>
    </p>
    <p>
        Functions of the website:
    <ul>
        <li>By default, there are five stocks on the watchlist. </li>
        <li>First time visitors will get the data loaded once. The watchlist, price info together with a timestamp are
            stored in localstorage</li>
        <li>Return user, if timestamp is the same (day) the data is loaded from localstorage to speed up the
            display.</li>
        <li>Return user in another day, the data is loaded again to reflect the new price.</li>
        <li>User can add stock (with correct symbol) to the list, all localstorge is updated to reflect the changes.
        </li>
        <li>Watch list symbols are unique.</li>
        <li>When the page first load, the news articles are random financial news.</li>
        <li>Once a stock symbol is selected, the news articles will be updated to news related to the company/symbol.
        </li>
        <li>The calculator is a simple compound interest calculator, assume the monthly contribution is made at the end
            of each month.</li>
    </ul>
    </p>

    <p>Functions are still missing from theh website:
    <ul>
        <li>Responsive design</li>
        <li>Ability to remove a symbol from the list</li>
    </ul>
    </p>


</div>