<div id="calculator-container">
    <p>Feel the power of compound interest rate</p>
    <div id="data-input">
        <div class="title">Initial Payment <input type="text" , id="initInv"></div>
        <div class="title">Monthly Contribution <input type="text" , id="monthPay"></div>
        <div class="title">Annual Return<input type="text" , id="interest">%</div>
        <div class="title">Interest Compound
            <select id="compound">
                <option value="monthly">MONTHLY</option>
                <option value="quarterly">QUARTERLY</option>
                <option value="halfyear">HALF YEAR</option>
                <option value="yearly" selected="selected">YEARLY</option>
            </select>
        </div>
        <div class="title">Years to grow<input type="text" id="years"></div>
        <button id="calculate">calculate</button>
        <div id="result">

        </div>
    </div>