<div id="footer-container">
    <div id="footer-left">
        <img src="./assets/facebook.png" />
        <img src="./assets/twitter.png" />
        <img src="./assets/linkedin.png" />
        <img src="./assets/inst.png" />
    </div>

    <div id="footer-right">
        {{#each .}}
        <div class="{{class}}">
            {{text}}
        </div>
        {{/each}}
    </div>
</div>