<div id="header-container">
    <img src="./assets/logo.png" />
    <div id="header-text">
        <div id="header-title">
            {{name}}
        </div>
        <div id="header-quote">
            {{quote}}
        </div>
    </div>
</div>