<div id="main-container">
    <div id="main-left"></div>

    <div id="main-right">
        <div id="live-data">
            live forex data or other table presentation
        </div>
        <div id="subscribe">
            <div>Newsletter signup</div>
            <div><input type="text" value="Enter your email..." id="email"><input type="submit" value="subscribe"
                    id="button"></div>
        </div>

    </div>

</div>