<div id="news">

    {{#each .}}
    {{#if attributes.gettyImageUrl}}
    <a href="https://seekingalpha.com{{links.self}}" target="_blank">
        <div><img src="{{attributes.gettyImageUrl}}" />{{attributes.title}}</div>
    </a>
    {{/if}}
    {{/each}}
</div>
<div id="subscribe">
    <div>Newsletter signup</div>
    <div><input type="text" value="Enter your email..." id="email"><input type="submit" value="subscribe" id="button">
    </div>
</div>