<div id="current-market">
    live data field goes here;
</div>
<div id="news">
    <div class="news-item">JSON news feed goes here</div>
    <div class="news-item">JSON news feed goes here</div>
    <div class="news-item">JSON news feed goes here</div>
</div>