<div id="news">

    {{#each .}}
    {{#if attributes.gettyImageUrl}}
    <div><img src="{{attributes.gettyImageUrl}}" />{{attributes.title}}</div>
    {{/if}}
    {{/each}}

    <div id="subscribe">
        <div>Newsletter signup</div>
        <div><input type="text" value="Enter your email..." id="email"><input type="submit" value="subscribe"
                id="button">
        </div>
    </div>
</div>